/* Inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Miama font  */
@import url('https://fonts.cdnfonts.com/css/miama') 
.miama{
  font-family: 'Miama', sans-serif;
}
